<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppDesptop.TelegramCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AppDesptop.TikTokCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppDesptop.TelegramCreator.Properties.Settings>
            <setting name="SetupEnvironment" serializeAs="String">
                <value />
            </setting>
        </AppDesptop.TelegramCreator.Properties.Settings>
        <AppDesptop.TikTokCreator.Properties.Settings>
            <setting name="txtIMap" serializeAs="String">
                <value />
            </setting>
            <setting name="txtPortEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="txtEmailFile" serializeAs="String">
                <value />
            </setting>
            <setting name="radioNoProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioHTTPProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioSock5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtProxy" serializeAs="String">
                <value />
            </setting>
            <setting name="radioCustomizePass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtPass" serializeAs="String">
                <value />
            </setting>
            <setting name="radioRandomPass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberPass" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="radioRandomUserName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioCustomizeUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtUserNameCustomize" serializeAs="String">
                <value />
            </setting>
            <setting name="radioRadomFullNameUs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioCustomizeFullNameUs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioRadomFullNameVN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtFristName" serializeAs="String">
                <value />
            </setting>
            <setting name="txtLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="cbUpdateAvatar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtFolderAvatar" serializeAs="String">
                <value />
            </setting>
            <setting name="numberThread" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="numberAccount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numberLDPlayer" serializeAs="String">
                <value>2</value>
            </setting>
        </AppDesptop.TikTokCreator.Properties.Settings>
    </userSettings>
</configuration>